/* MyAnimeList CSS by TheForgotten */

/* LIST BACKGROUND COLOR AND OPACITY - begin */

.category_totals,
.td1,
.td2,
#grand_totals,
#copyright {
  background: rgba(33, 33, 33, 0.5) !important;
}

/* LIST BACKGROUND COLOR AND OPACITY - end */

body {
  background-size: cover !important;
  background-image: url(https://i.imgur.com/0yYwYJb.jpg) !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
